@import "../../dist/icons";

$icon: eicon-play;

body {
  font-size: 100%;
  font-family: Lato, Arial, Helvetica, sans-serif;
}
.icon {
  margin: 5rem auto;
  padding: 2rem 2rem 3rem 8rem;
  line-height: normal;
  background: #fff get-icon($icon, #99c, #900, #ef6e26) 5% 50% / 5% no-repeat;
  width: 40rem;
  height: 2rem;
  border: 1px solid #eee;
  &:hover {
    background-image: get-icon($icon, #069, #009900, #f93);
  }
  h1 {
    margin: 0;
    padding: 0;
    font-size: 2.5rem;
    line-height: normal;
  }
}
