@import "../../dist/icons";

body {
  font-size: 100%;
  font-family: Lato, Arial, Helvetica, sans-serif;
}

.icon {
  margin: 5rem auto;
  padding: 2rem 5rem 1rem;
  line-height: normal;
  background: #fff get-icon(arrow-video, #fff, #09c, #ef6e26) 0 50% / 10% no-repeat;
  width: 20rem;
  height: 2rem;
}