body {
  font-size: 100%;
  font-family: Lato, Arial, Helvetica, sans-serif; }

.icon {
  margin: 5rem auto;
  padding: 2rem 2rem 3rem 8rem;
  line-height: normal;
  background: #fff url(data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%225.145%22%20height%3D%228.574%22%20viewBox%3D%220%200%205.145%208.574%22%3E%3Ctitle%3Eicons%3C%2Ftitle%3E%3Cpath%20d%3D%22M5.144%207.717a.864.864%200%200%201-.857.857H.857A.864.864%200%200%201%200%207.717V.857A.864.864%200%200%201%20.857%200h3.43a.864.864%200%200%201%20.857.857v6.86zM4.5%201.93a.22.22%200%200%200-.214-.215H.856a.22.22%200%200%200-.215.215v4.716a.22.22%200%200%200%20.216.214h3.43a.22.22%200%200%200%20.215-.214V1.93zM3.108.858h-1.07a.107.107%200%200%200%200%20.215h1.07a.108.108%200%200%200%200-.216zM2.572%207.18a.536.536%200%201%200%20.536.537.538.538%200%200%200-.536-.536z%22%20fill%3D%22%2309c%22%2F%3E%3C%2Fsvg%3E) 5% 50%/5% no-repeat;
  width: 40rem;
  height: 2rem;
  border: 1px solid #eee; }
  .icon:hover {
    background-image: url(data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%225.145%22%20height%3D%228.574%22%20viewBox%3D%220%200%205.145%208.574%22%3E%3Ctitle%3Eicons%3C%2Ftitle%3E%3Cpath%20d%3D%22M5.144%207.717a.864.864%200%200%201-.857.857H.857A.864.864%200%200%201%200%207.717V.857A.864.864%200%200%201%20.857%200h3.43a.864.864%200%200%201%20.857.857v6.86zM4.5%201.93a.22.22%200%200%200-.214-.215H.856a.22.22%200%200%200-.215.215v4.716a.22.22%200%200%200%20.216.214h3.43a.22.22%200%200%200%20.215-.214V1.93zM3.108.858h-1.07a.107.107%200%200%200%200%20.215h1.07a.108.108%200%200%200%200-.216zM2.572%207.18a.536.536%200%201%200%20.536.537.538.538%200%200%200-.536-.536z%22%20fill%3D%22%23069%22%2F%3E%3C%2Fsvg%3E); }
  .icon h1 {
    margin: 0;
    padding: 0;
    font-size: 2.5rem;
    line-height: normal; }
